---
import Hero from "../components/Hero.astro";

import Tiles from "../components/Tiles.astro";
import Layout from "../layouts/Layout.astro";

const hero = {
  title: "Front-end developer, Designer, Adrenaline seeker and Adventurer.",
  description:
    "I'm Raymond Schweers, a Front-end developer, UX/UI designer and Adventurer based in The Netherlands. As a freelancer i am fortuned to have worked for some amazing companies and projects where I was able contribute and leave a mark."
};
---

<Layout isHome pageTitle="Home" description={hero.description}>
  <main class="relative z-10 mx-auto max-w-7xl px-8 sm:px-16 lg:px-32 pt-24">
    <Hero hasAvatar hasSocial {...hero} />
  </main>
  <Tiles />
</Layout>
