---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import DescriptionList from "../components/DescriptionList.astro";
import {HARDWARE, DEVELOPMENT, SERVICES, DESIGN, PRODUCTIVITY} from '../constants/uses';

const hero = {
  title: "Software I use, gadgets I love, and other things I recommend.",
  description:
    "I get asked a lot about the things I use to build software, stay productive, or buy to fool myself into thinking I'm being productive when I'm really just procrastinating. Here's a big list of all of my favorite stuff."
};
---

<Layout pageTitle="Uses">
  <main class="relative z-10 mx-auto max-w-7xl px-8 sm:px-16 lg:px-32 pt-24">
    <Hero {...hero} />
    <DescriptionList {...HARDWARE} />
    <DescriptionList {...DEVELOPMENT} />
    <DescriptionList {...PRODUCTIVITY} />
  </main>
</Layout>
