---
import avatar from "../images/avatar.jpg";

export interface Props {
  isLarge?: boolean
}

const {
  isLarge = false
} = Astro.props as Props

const size = isLarge ? "h-16 w-16" : "h-10 w-10"

---

<a
  aria-label="Home"
  class={`block ${size} origin-left pointer-events-auto`}
  href="/"
>
  <img
    alt="Raymond Schweers"
    src={avatar}
    width="1440"
    height="1440"
    class={`rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 ${size}`}
  />
</a>
