---
import Hero from "./Hero.astro";
import { EMPLOYEES } from "../constants/employees";
import { PROJECTS } from "../constants/projects";

const clientsHero = {
  title: "Honourable mentions",
  description: "These companies had a significant impact in my career."
};
---

<section class="text-center mx-auto max-w-3xl">
  <Hero {...clientsHero} centered />

  <ul class="text-center my-16 sm:mt-20">
    {
      EMPLOYEES.map((client) => {
        return (
          <li class="group relative inline-block m-2">
            <figure
              class="relative z-10 flex h-16 w-16 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 overflow-hidden"
              style={`background-color: ${client.backgroundColor}`}
            >
              <img
                alt={client.alt}
                src={client.src}
                class="h-12 w-12"
                loading="lazy"
              />
            </figure>
          </li>
        );
      })
    }
    <li></li>
  </ul>
</section>
