<footer
  class="relative z-10 mx-auto max-w-7xl px-8 sm:px-16 lg:px-32 py-6 mt-16"
>
  <nav class="flex flex-col items-center justify-between gap-6 sm:flex-row">
    <header class="hidden">
      <h4 class="hidden">Footer navigation</h4>
    </header>

    <ul class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
      <li>
        <a
          class="transition hover:text-teal-500 dark:hover:text-teal-400"
          href="/">About</a
        >
      </li>
      <li>
        <a
          class="transition hover:text-teal-500 dark:hover:text-teal-400"
          href="/projects">Projects</a
        >
      </li>
      <li>
        <a
          class="transition hover:text-teal-500 dark:hover:text-teal-400"
          href="/uses">Uses</a
        >
      </li>
    </ul>

    <p class="text-sm text-zinc-400 dark:text-zinc-500">
      &#169; 2022 Raymond Schweers. All rights reserved.
    </p>
  </nav>
</footer>
