---
import Avatar from "./Avatar.astro";
import Social from "./Social.astro";

export interface Props {
  title: string;
  description: string;
  hasSocial: boolean;
  hasAvatar: boolean;
}

const {
  title,
  description,
  hasSocial = false,
  hasAvatar = false
} = Astro.props as Props;
---

<header class="max-w-3xl">
  {hasAvatar && <Avatar isLarge />}

  <h1
    class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl mt-6"
  >
    {title}
  </h1>

  <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">{description}</p>

  {hasSocial && <Social />}
</header>
