---
import Avatar from "../components/Avatar.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";

export interface Props {
  isHome?: boolean;
  pageTitle: string;
}
const { isHome, pageTitle } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="h-full antialiased js-focus-visible">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Raymond Schweers</title>
  </head>

  <body class="bg-zinc-50 dark:bg-black overflow-x-hidden">
    <h2 class="hidden">{pageTitle}</h2>

    <div class="max-w-screen-xl mx-auto overflow-visible sm:px-20">
      <div class="bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20 mx-auto ">
        <header
          class="relative z-20 mx-auto max-w-7xl px-8 sm:px-16 lg:px-32 pt-12"
        >
          {!isHome && <Avatar className="absolute" />}
          <Menu />
        </header>

        <slot />

        <Footer />
      </div>
    </div>

  </body>
</html>
